.softSkillsSection {
  width: 100%;
  padding: 40px 0;
  margin: 40px 0;
  text-align: center;
}
.image {
  margin-bottom: 10px;
  filter: saturate(120%) contrast(110%);
}
.softSkillsSection h3 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .softSkillsSection p {
    padding: 0 10px;
    text-align: justify;
  }
}
