.aboutWrap {
  width: 100%;
  position: relative;
  background-image: linear-gradient(
    to left,
    var(--main-bg-color) 60%,
    var(--light-pink-color) 0
  );
  padding: 60px 0 60px 0;
}
.leftBox {
  padding: 40px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(251, 235, 236, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.title {
  font-size: 20px;
  font-family: Koulen;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
.title::after {
  content: "";
  height: 1px;
  display: block;
  margin: 15px auto;
  width: 20%;
  background-color: var(--main-text-color);
}
.imageWrap {
  width: 60%;
  min-width: 150px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btnWrap .downloadCvBtn {
  color: var(--main-bg-color);
  background-color: var(--gold-color);
  border: var(--gold-color);
  display: inline-flex;
  width: fit-content;
  align-items: center;
}
.btnWrap .downloadIcon {
  font-size: 18px;
  margin-top: 3px;
}
.btnWrap .downloadCvBtn:hover,
.btnWrap .downloadCvBtn:focus,
.btnWrap .downloadCvBtn:active {
  color: var(--main-bg-color);
  border-color: var(--light-nude-color);
  background-color: var(--light-nude-color);
  box-shadow: none;
  outline: transparent;
}
.linksWrap {
  width: 100%;
  margin-top: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
}
.linksWrap .link {
  color: var(--main-text-color);
}
.linksWrap .link:hover {
  color: var(--gold-color);
}
.btnWrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.btnWrap .downloadCvBtn:nth-child(2) {
  margin-top: 20px;
}
.rightBox {
  display: none;
  text-align: left;
  margin-top: 0;
}
.h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 500px) {
  .rightBox {
    text-align: center;
    margin-top: 30px;
  }
  .btnWrap {
    flex-direction: row;
    justify-content: center;
  }
  .btnWrap .downloadCvBtn:nth-child(2) {
    margin-left: 20px;
    margin-top: 0;
  }
  .aboutWrap {
    background-image: none;
    padding: 0;
  }
}
@media screen and (min-width: 500px) {
  .rightBox {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .btnWrap .downloadCvBtn:nth-child(2) {
    margin-left: 20px;
    margin-top: 0;
  }
  .btnWrap {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
}
