.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.sectionWrap {
  padding: 20px 0 20px 0;
}

.wrap {
  width: 100%;
}
.education {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}
.tabTitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
.subTitle {
  font-size: 16px;
  font-family: JostMedium;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 0;
}
.contentWrap {
  display: flex;
  flex-wrap: nowrap;
}

.schoolName {
  margin-left: 8px;
}

.tabWrap {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentText {
  margin: auto 0;
}
.tabWrap p {
  font-size: 14px;
}
.tabWrap ul {
  margin: -10px 0 25px 0;
  font-size: 14px;
  font-family: JostLight;
}

.img,
.img2,
.img3 {
  width: 90%;
  height: 100%;
  filter: saturate(120%);
}
.img2 {
  filter: grayscale(45%) contrast(115%);
}

.img3 {
  filter: grayscale(42%) contrast(115%);
}

.downloadCvBtn {
  margin-top: 10px;
  color: var(--main-bg-color);
  background-color: var(--gold-color);
  border: var(--gold-color);
  display: inline-flex;
  width: fit-content;
  align-items: center;
}
.downloadCvBtn:hover,
.downloadCvBtn:focus,
.downloadCvBtn:active {
  color: var(--main-bg-color);
  border-color: var(--light-nude-color);
  background-color: var(--light-nude-color);
  box-shadow: none;
  outline: transparent;
}

@media screen and (min-width: 480px) {
  .img3 {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .contentWrap {
    flex-direction: row;
    align-items: flex-start;
  }
  .tabWrap3 {
    width: 100%;
  }
  .img {
    margin-top: -15px;
    width: 115%;
  }
  .img2 {
    width: 40%;
  }
  .img3 {
    margin: auto 0;
  }
}

@media screen and (min-width: 1000px) {
  .tabWrap {
    width: 70%;
  }
  .tabWrap3 {
    width: 90%;
  }

  .img {
    width: 120%;
  }
}
@media screen and (min-width: 1200px) {
  .img {
    width: 90%;
  }
  .tabWrap3 {
    width: 70%;
  }
}
